@import "_partials/_variables";
@import "_partials/animations";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue.woff2") format("woff2"),
    url("/fonts/HelveticaNeue.woff") format("woff"),
    url("/fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.about-page-wrapper {
  .feature-section-wrap {
    background-blend-mode: overlay;

    background: linear-gradient(37deg, #0000007b 69%, #d09350 106.8%);
  }
}

.text-gradient-1 {
  background: linear-gradient(90deg, #000 0%, #db8e4d 76.83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-1 {
  background: linear-gradient(90deg, #000 0%, #754c29 100%);
}

.gradient-2 {
  background: linear-gradient(113deg, #917021 1.4%, #5e3d20 88.57%);
}

.swiper {
  padding: 20px 0 !important;
}



@import "./locals/home.scss";
@import "./locals/menu-component.scss";
@import "./locals/form.scss";
